<div class="content">
    <h1 class="heading">A favour for a small price is not so bad</h1>
    <br />


    <div class="matter">

        <h2>About RookieCab</h2>

    <p><strong>Welcome to RookieCab, the dedicated platform for students on the move!</strong></p>

    <p>At RookieCab, we understand the unique transportation needs of students. Our mission is to provide a safe, affordable, and convenient ride-sharing solution that connects student riders with student drivers. Whether you're heading to class, returning home, or exploring new places, RookieCab is here to make your journey smoother.</p>

    <h3>For Student Riders:</h3>
    <p>Are you tired of waiting for public transport or paying hefty fares for traditional cabs? Are you getting sick of asking for rides on whatsapp groups? RookieCab is your go-to solution. Our platform allows you to find rides from fellow students who are wlling to give one. Not only does this make your travel more economical, but it also gives you a chance to meet new people and build connections within your student community.</p>

    <h3>For Student Drivers:</h3>
    <p>Do you have a car and want to offset your travel costs? With RookieCab, you can offer rides to other students and earn some extra cash. It's a great way to make the most of your empty seats while helping your peers get around. Plus, it's a fun way to meet other students and make new friends on your journeys.</p>

    <h3>Why RookieCab?</h3>
    <ul>
        <li><strong>Student-Focused:</strong> Our platform is tailored specifically for students, ensuring that your transportation needs are met in the best possible way.</li>
        <li><strong>Economical:</strong> We have a tailored pricing scheme which is quite economical. Worried about middleman fees? Payment gateway charges? You pay directly to the rider.</li>
        <li><strong>Convenient:</strong> Easy to use, with real-time ride matching and scheduling.</li>
        <li><strong>Safe:</strong> It is for students, given by students. You are in good hands.</li>
    </ul>

    <p>Join RookieCab today and be part of a growing network of students who are redefining the way they travel. Let's make every ride an opportunity to connect, share, and save!</p>

    </div>
</div>