<div>
  <div class="container my-3 fixed-container">
    <div class="row align-items-center">
      <div class="col-md-4">
        <input
          type="text"
          class="form-control"
          placeholder="From Address"
          (input)="onAddressChange($event.target.value)"
          [(ngModel)]="clickAddress"
        />
        <ul *ngIf="addresses.length > 0" class="list-group suggestions-list">
          <a
            *ngFor="let address of addresses"
            class="list-group-item"
            (click)="onClickAddress(address)"
          >
            {{ address.place_name }}
          </a>
        </ul>
      </div>
      <div class="col-md-1 d-flex justify-content-center">
        <i
          class="bi bi-car-front"
          style="font-size: 24px"
          (click)="swapAddresses()"
        ></i>
      </div>
      <div class="col-md-4">
        <input
          type="text"
          class="form-control"
          placeholder="To Address"
          (input)="onToAddressChange($event.target.value)"
          [(ngModel)]="toAddress"
        />
        <ul *ngIf="toAddresses.length > 0" class="list-group suggestions-list">
          <a
            *ngFor="let address of toAddresses"
            class="list-group-item"
            (click)="onToAddressSelect(address)"
          >
            {{ address.place_name }}
          </a>
        </ul>
      </div>
      <div class="col-md-3 pt-3 pt-lg-0 pt-xl-0 pt-md-0">
        <button class="btn btn-secondary w-100" (click)="onClickCalculate()">
          Calculate
        </button>
      </div>
    </div>
  </div>
  <div class="justify-content-center">
    <div *ngIf="calculationDone" class="message">
      <p>
        Distance: {{ distance }} miles. Total estimated cost is ${{
          estimatedCost
        }}
      </p>
      <div class="padder" *ngIf="!bookRide">
        <button class="btn btn-primary" (click)="onClickBookRide()">
          Book a Ride
        </button>
      </div>
      <div class="dropdown" *ngIf="bookRide">
        <button
          class="btn btn-secondary dropdown-toggle"
          type="button"
          id="dropdownMenuButton"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          {{ reason || "Choose Reason" }}
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li>
            <a
              class="dropdown-item"
              (click)="selectOption('Got the ride through outer sources')"
              >Got the ride through outer sources</a
            >
          </li>
          <li>
            <a
              class="dropdown-item"
              (click)="selectOption('Got the ride thorugh RookieCab')"
              >Got the ride thorugh RookieCab</a
            >
          </li>
          <li>
            <a class="dropdown-item" (click)="selectOption('Cancel the ride')"
              >Cancel the ride</a
            >
          </li>
        </ul>
      </div>
      <div class="padder" *ngIf="bookRide">
        <button class="btn btn-warning" (click)="onClickResolve()">
          Resolve the Ride
        </button>
      </div>
    </div>
    <div
      *ngIf="invalidAddress && !calculationDone"
      class="message invalid-message"
    >
      <p>Please enter valid addresses.</p>
    </div>
    <p *ngIf="unSelected" class="message invalid-message">
      You need to select a reason to resolve the ride.
    </p>
    <p *ngIf="clickResolve" class="message invalid-message">
      You ride has been resolved.
    </p>
    <p *ngIf="rideCreated" class="message">You ride has been created.</p>
  </div>
  <div id="map" class="map-container"></div>
</div>
